B4A/AutoBackups/
B4A/Objects/bin/
B4A/Objects/gen/
B4A/Objects/res/
B4A/Objects/shell/
B4A/Objects/src/
B4A/Objects/b4xlibs/
B4A/Objects/dexed/
B4A/Objects/classes.dex
B4A/Objects/d8_arguments.txt
B4A/Objects/*.apk